apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: products-hpa
  namespace: staging
  labels:
    app: flask-products
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: flask-products-dep
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 60